.col {
    gap: 50px;
    padding: 50px;
}

.container-tarjetas {
    padding: 40px;
    gap: 40px;
    margin: auto;
}

button {
    width: 100px;
    height: 80px;
}

.item-name {
    color: red;

}

.name {
    padding-top: 30px;
    padding-bottom: 30px;
}

.heart-icon {
    font-size: 40px; 
}
